<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static '/index.css' %}">

    <title>{{title}}</title>
</head>


<body>
    <div id="top">
        <img style="height: 90px; vertical-align:middle;" src="{%static 'img/django_logo.png' %}">
        <h1 class="display-3" style="color: white; vertical-align:middle;">{{title}}</h1>
    </div>

    <div id="separador"></div>

    <div id="prod_juguete">
        <h1 style="color: white; vertical-align:middle;font: size 140px;">{{pholder2}}</h1>
    </div>

    <div id="juguete">

        <div class="cajas">
            <img style="height: 60%" src="{%static 'img/juguetes/insector.jpg' %}">
            <h3 id="texto">{{jug1}}</h3>
        </div>
        <div class="cajas">
            <img style="height: 60%" src="{%static 'img/juguetes/pelota.jpg' %}">
            <h3 id="texto">{{jug2}}</h3>
        </div>
        <div class="cajas">
            <img style="height: 60%" src="{%static 'img/juguetes/legostar.jpg' %}">
            <h5 id="texto">{{jug3}}</h5>
        </div>

    </div>

    <div id="separador"></div>

    <div id="volver">
        <a href='/' id="boton" class="btn btn-danger boton">{{return}}</a>
    </div>
</body>

</html>